.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 94px;
}

.back {
    background-size: cover;
    height: 400px;
    background-image: url("/Users/evgeniisypchenko/Desktop/Work/todo_app/public/img/back.png");
    background-repeat: no-repeat;
    margin-bottom: 32px;
}

.container {
    margin: 0px 135px;
  }

.logo {
    display: inline-block;
    font-family: "Cabin", sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin-top: 25px; 
}

.search {
    width: 270px;
    height: 32px;
    background-color: white;
    opacity: 0.5;
    margin-top: 32px;
    border-radius: 4px; 
    border: none;
    text-indent: 16px;
    font-family: 'Cabin', sans-serif;
}

.banner-text {
    font-family: 'Cabin', sans-serif;
    font-size: 40px;
    width: 297px;
    line-height: 52px;
    margin-left: 100px;
    margin-bottom: 20px;
}

.banner-button {
    background-color: #F4DA53;
    border: none;
    border-radius: 4px;

    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: white;
    padding: 16px 30px;
    margin-left: 100px;
    box-shadow: none;
    transition:  box-shadow linear 0.2s;

}

button:hover {
    /* background-color: #F4DA53; */
    box-shadow: 0px 4px 20px rgba(212, 180, 11, 0.4)
}