.waiting-todos {
    margin-left: 100px;
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    font-weight: 300;
    display: inline-block;

    color: #808080;

    margin-bottom: 32px;
}

.left-part {
    width: 900px;
}

.right-part {
    width: 270px;
}

.all-todos {
    font-family: 'Cabin', sans-serif;
    font-size: 28px;
    font-weight: 300;
    color: #808080;

    margin-bottom: 20px;
}

.active {
    font-family: 'Cabin', sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: black;
}

.important-todos {
    font-family: 'Cabin', sans-serif;
    font-size: 28px;
    font-weight: 300;
    color: #808080;
}

.flex-box {
    display: flex;
}

.slider {
    width: 2px;
    height: 93px;
    border-radius: 2px;
    background-color: #D9D9D9;

    position: relative;
}

.active-slider {
    width: 4px;
    height: 39px;
    background-color: black;
    border-radius: 2px;

    position: absolute;

    left: -1px;
}

.filters {
    display: flex;
}

.filter-container {
    margin-left: 13px;
}


.position {
    bottom: 0px;
}

li {
    list-style-type: none;
}