.post-input {
    width: 570px;
    height: 60px;
    border: solid 2px #EFEFEF;
    border-radius: 4px;
    padding: 0;

    text-indent: 16px;
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #808080;
    text-indent: 20px;

    margin-left: 100px;

    box-sizing: border-box;
    margin-bottom: 32px;
}

.post-button {
    background-color: #F4DA53;
    border: none;
    border-radius: 4px;

    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding: 16px 30px;
    margin-left: 30px;
    box-shadow: none;
    transition:  box-shadow linear 0.2s;
}
